<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Top 20 Tab -->
  <ion-tab title="Top 20" icon-off="ion-trophy" icon-on="ion-trophy"
    ui-sref="main.top-twenty">
    <ion-nav-view name="tab-top-twenty"></ion-nav-view>
  </ion-tab>

  <!-- Decade chart Tab -->
  <ion-tab title="Decade Chart" icon-off="ion-stats-bars" icon-on="ion-stats-bars"
    ui-sref="main.decade-chart">
    <ion-nav-view name="tab-decade-chart"></ion-nav-view>
  </ion-tab>

  <!-- Favorites films Tab -->
  <ion-tab title="Favorites Films" icon-off="ion-android-star-outline" icon-on="ion-android-star"
    ui-sref="main.favorites-films">
    <ion-nav-view name="tab-favorites-films"></ion-nav-view>
  </ion-tab>

</ion-tabs>
