<ion-view view-title="Top 20" ng-init="vm.topFilmLoader()">
  <ion-content class="top20-content">
    <ion-list class="films-list">
      <preloader condition="!vm.dataFilms.length"></preloader>
      <ion-item ng-repeat="film in vm.dataFilms track by $index">
        <div class="img-container">
          <img ng-src="{{film.urlPoster}}" alt="">
        </div>
        <div class="info-container">
          <h2>{{film.title}}</h2>
          <p class="year-film">year: {{film.year}}</p>
          <p class="rating-film">rating: {{film.rating}}</p>

          <div class="genre-film" list-genres genres="film.genres"></div>
          <div class="countries-film" list-countries countries="film.countries"></div>
          <div class="director-film" director-link directors="film.directors"></div>
          <div>
            <button class="button button-small button-assertive" ng-click="vm.trailersLoader(film.idIMDB, $index)">
               {{vm.filmItem == $index ? 'Search...' : 'Show Trailer'}}
            </button>
            <button ng-disabled="film.favorite" class="button button-small button-assertive" ng-click="vm.favoritesHandler($index)">
              {{film.favorite ? 'Added to favorites' : 'Add to favorites' }}
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
