<ion-view view-title="Top 20" ng-init="vm.topFilmLoader()">
  <ion-content>
    <ion-list class="films-list">
      <div ng-if="!vm.dataFilms.length">
        <img src="./main/assets/images/Loading_icon.gif" alt="">
      </div>
      <ion-item ng-repeat="film in vm.dataFilms track by $index">
        <div class="img-container">
          <img ng-src="{{film.urlPoster}}" alt="">
        </div>
        <div class="info-container">
          <h2>{{film.title}}</h2>
          <p class="year-film">{{film.year}}</p>
          <p class="rating-film">rating: {{film.rating}}</p>
          <p class="genre-film">genre: {{film.genres}}</p>
          <p class="countries-film">country: {{film.countries}}</p>
          <p class="director-film">director: {{film.directors}}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
    <!--<video width="400" controls>-->
      <!--<source src="mov_bbb.mp4" type="video/mp4">-->
      <!--<source src="mov_bbb.ogg" type="video/ogg">-->
      <!--Your browser does not support HTML5 video.-->
    <!--</video>-->

    <!--<iframe width="100%" height="300" src="https://www.youtube.com/embed/fa75iDdrktQ?vq=small" frameborder="0" allowfullscreen></iframe>-->
    <!--<iframe width="100%" height="300" src="https://www.youtube.com/embed/fa75iDdrktQ?vq=medium" frameborder="0" allowfullscreen></iframe>-->
    <!--<iframe width="100%" height="300" src="https://www.youtube.com/embed/fa75iDdrktQ?vq=large" frameborder="0" allowfullscreen></iframe>-->
