<ion-modal>
  <ion-content>
    <button class="button button-small button-light" ng-click="closeTrailer()">X</button>
    <div class="wrapper-trailer" ng-if="playVideo">
      <iframe width="100%" height="300" ng-src="https://www.youtube.com/embed/{{videoKey}}?vq={{trailerQuality}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <show-trailers trailers="trailers" play-trailer="playTrailer()"></show-trailers>
  </ion-content>
</ion-modal>

<!--<iframe width="100%" height="300" src="https://www.youtube.com/embed/fa75iDdrktQ?vq=large" frameborder="0" allowfullscreen></iframe>-->
