<ion-modal>
  <ion-header-bar class="bar bar-header bar-dark">
    <button class="button button-clear button-positive close-trailer" ng-click="closeTrailer()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div class="wrapper-trailer" ng-if="playVideo">
      <iframe width="100%" height="300" ng-src="{{getIframeSrc(videoKey, trailerQuality)}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div ng-if="!foundTrailer" class="not-found-trailer">Sorry, but trailer not found</div>
    <div class="wrapper-buttons-trailer">
      <p ng-repeat-start="trailer in trailers">{{trailer.name}}:</p>
      <button ng-repeat-end class="button button-small button-assertive" ng-click="playTrailer(trailer.size, trailer.key)"> {{trailer.size+"p"}}</button>
    </div>
  </ion-content>
</ion-modal>

