.modal-backdrop {
  background: rgba(240, 255, 255, 0.67);
}
.close-trailer {
  color: #e42a12 !important;
  font-weight: bold !important;
}
.not-found-trailer {
  background: #444444;
  font-size: 17px;
  text-align: center;
  color: #ef4e3a;
  font-weight: bold;
}
